/* @font-face{
    font-family: 'YaHei Consolas Hybrid';
    src : url("C:/huawenxingkai.ttf");
} 没有该字体文件，先注释掉*/
div, span, p, a, strong {
  font-weight: 400;
  font-style: normal;
}
body,ul,h1,h2,h3,h4,h5,h6,form,input,textarea,button,p{margin:0;padding:0}
@charset "utf-8";html {
  color:#000;
  font-size: 12px;
}
h1,h2,h3,h4,h5,h6,b,strong {
  font-weight:normal
}
i,em {
  font-style: normal;
}
/* 单选按钮全局属性 */
.ant-radio-wrapper > span {
  font-size: 12px;
}
/* 表单标签全局属性 */
.ant-form .ant-form-item-label > label {
  font-size: 12px ;
  color: #666666 ;
}
/* 表格全局属性 */
.ant-table-body {
    font-size: 12px;
    color: #666666;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 3px !important;
}
