.homeTabs{
  a {
    font-size: 12px;
    color: #0A6ECB;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    height: 41px;
    padding: 0 16px;
  }
  .ant-table-thead > tr > th{
    background: #F2F2F2;
  }
  .ant-tabs-bar{
    border-color: #3366FF
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    border-color: #3366FF;
    color:#3366FF
  }
  .ant-table-thead > tr:first-child > th:last-child{
        border-top-right-radius: 0px;
  }
  .ant-table-thead > tr:first-child > th:first-child{
    border-top-left-radius: 0px;
  }
  .dian{
    position: relative;
    padding-left: 10px;
  }
  .dian::before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #0A6ECB;
    border-radius: 50%;
    line-height: 9px;
    position: absolute;
    top: 10px;
    left: 0
  }
  .fontStyle{
    p{
      text-align: center;
      margin: 0;
    }
    p:nth-child(1){
      font-size: 16px;
    }
    p:nth-child(2){
      color: #0A6ECB;
      font-weight: 700;
      font-size: 28px;
    }
  }
  .ant-card-body{
    padding: 33px;
  }
  .ant-tabs-tab-active{
    background: #0A6ECB !important;
    color:#fff !important
  }
  .ant-table-small > .ant-table-content > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table{
    padding: 0
  }
  .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th{
    background:#E4E4E4;
  }
  .ant-tabs-bar{
    margin: 0;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    border-radius: 10px 10px 0 0
  }
  .ant-table-tbody > tr > td{
    border-bottom: 1px dashed #D7D7D7
  }
  // .ant-tabs{
  //   border-left:1px solid #D7D7D7;
  //   border-right:1px solid #D7D7D7
  // }
  .ant-tabs-content {
    padding-top: 10px;
    border-radius: 4px 4px 0 0;
    border-top:1px solid #D7D7D7;
    border-left:1px solid #D7D7D7;
    border-right:1px solid #D7D7D7;
  }
  .ant-table-body{
    min-height: 368px;
    font-size: 12px;
  }
  .ant-table-pagination.ant-pagination{
    margin:  7px 10px 7px 0;
  }
  .table-operation {
    text-align: right;
    float: right;
    margin-right: 20px;
  }
  .table-operation-two {
    text-align: left;
    float: left;
    margin-left: 20px;
    margin-top:15px;
    margin-bottom:20px;
  }
  .ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
    margin-left: -120%;
    margin-right: 110%;
  }
  .ant-table-row-level-1 {
    background-color: #FAFAFA;
  }
  .ant-table-selection {
    margin-left: 0px;
  }
  .ant-checkbox-wrapper{
    margin-left: 20px;
  }
}
